/*Tag selectors*/
a{
    color: chocolate;
    font-family: 'Architects Daughter', cursive;
    line-height: 2;
    margin-right: 20px;
    text-decoration: none;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}
h1{
    color: chocolate;
    font-family: 'Sacramento', cursive;
    font-size: 300%;
    margin: 0 auto;
}
h2{
    color: chocolate;
    font-family: 'Merienda',cursive;
    font-weight: normal;
}
h3{
    color: chocolate;
    font-family: 'Architects Daughter', cursive;
}
h4{
    color: chocolate;
    font-family: 'Architects Daughter', cursive;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 2px;
    width: 5%;
}
li{
    color: chocolate;
    font-family: 'Merienda',cursive;
    font-size: 100%;
    text-align: left;

}
span{
    text-decoration: underline dashed;
}

/*Class selectors*/

.about{
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    
}
.about-me{
    width: 50%;
    margin: 100px auto 0px auto;
    text-align: left;
}
.bottom-container{
    background-color:  #dfd3c3;
    padding-top: 10px;
    margin-top: 10px;
}
.footer-link{
    font-family: 'Montserrat', sans-serif;

}
.in-bw{
    text-decoration: chocolate;
}
.middle-container{
    background-color: white;
}
.myButton {
	box-shadow: 0px 13px 14px -7px #734c27;
	background:linear-gradient(to bottom, #b38559 5%, #997840 100%);
	background-color:#b38559;
	border-radius:13px;
	border:3px solid #8f5b29;
	display:inline-block;
	cursor:pointer;
	color:#eba62f;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:5px 2px;
	text-decoration:none;
    text-shadow:0px 5px 3px #8a693e;
}
.myButton:hover {
	background:linear-gradient(to bottom, #997840 5%, #b38559 100%);
	background-color:#997840;
}
.myButton:active {
	position: relative;
	top:1px;
}
.skills-row{
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
}
.top-container{
    background-color: #dfd3c3;
    position: relative;
    padding-top: 100px;
    width: 100%;
    height: 80%;
}

/*ID selectors*/

#about-img{
    width: 10rem;
    display: inline-block;
    float: left;
    margin-right: 20px;
}
#Cam-drone{
    position: absolute;
    right: 300px;
    top: 50px;
}
#contact-me-desc{
    font-family: 'Montserrat', sans-serif;
}
#drone{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
#footer-cc{
    color: white;
}
#img1{
    border: chocolate solid;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 20px;
}
#img2{
    border: chocolate solid;
    border-radius: 50%;
    display: inline-block;
    float: right;
    margin-left: 20px;
}
#my-skills{
    display: inline-block;
    font-size: 200%;
}
#tagline{
    font-family: 'Architects Daughter', cursive;
    font-size: 200%;
    color: chocolate;
}
#tech-skills{
    width: 2rem;
    display: inline-block;
}